  <div id="login-button">
    <img src="assets/img/login-w-icon-1.png">
  </div>
  <div id="container">
    <h1>Log In</h1>
    <span class="close-btn">
      <img src="assets/img/circle_close_delete_-128.png">
    </span>

    <form>
      <input type="email" name="email" placeholder="E-mail">
      <input type="password" name="pass" placeholder="Password">
      <a href="/user">Log in</a>
      <div id="remember-container">
        <span id="forgotten">Forgotten password</span>
      </div>
    </form>
  </div>

  <!-- Forgotten Password Container -->
  <div id="forgotten-container">
    <h1>Forgotten</h1>
    <span class="close-btn">
      <img src="assets/img/circle_close_delete_-128.png">
    </span>

    <form>
      <input type="email" name="email" placeholder="E-mail">
      <a href="#" class="orange-btn">Get new password</a>
    </form>
  </div>

